<%- include ../layouts/header.ejs %>
<div class="page-data">
    <input type="button" value="Gerar Numeração" onclick="montaNumero();"/>
    <div class="data-table">
        <table class="table table-striped">
            <tr>
                <th>Nº</th>
                <th>Categoria</th>
                <th>Equipe</th>
                <th>Nome</th>
            </tr>

            <% var options = ["Masculino","Feminino","Master","Sênior","Juvenil","Incentivado"];
            var qtdeCategoria = [0,0,0,0,0,0];

            if(data){


            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%=data[i].id%></td>
                <td><%=options[data[i].categoria]%></td>
                <td><%=data[i].nome_equipe%></td>
                <td><%=data[i].nome%></td>
            </tr>
            <%  qtdeCategoria[data[i].categoria]++;
            }else{ %>
            <tr>
                <td colspan="3">Sem Atletas</td>
            </tr>
            <% } %>



        </table>
    </div>

    <div class="data-table">
        <table class="table table-striped">
            <tr>
                <th>Categoria</th>
                <th>Qtde</th>
            </tr>

            <% for(var i = 0;i < options.length;i++) { %>
            <tr>
                <td><%=options[i]%></td>
                <td><%=qtdeCategoria[i]%></td>
            </tr>
            }%>
        </table>
    </div>
</div>

<%- include ../layouts/footer.ejs %>
